.bannerCTAContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 2rem;
  padding: 1rem;
  background-color: rgb(229, 238, 229);
  border-radius: 10px;
  flex-wrap: wrap;
}

.bannerImage {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.bannerText {
  max-width: 500px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #0056b3;
}
