.filtroCategoriasStyles {
  margin-left: 2vh;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.filtroCategoriasStyles select {
  padding: 0.5rem;
  font-size: 1rem;
}

.productoGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
